body {

  font-size: 16px;

  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  color: #333;
  -webkit-font-smoothing: antialiased;
}

/* Navigation Arrows - Specific sizing and centering */
.swiper-button-next:after,
.swiper-button-prev:after {
  font-weight: bold;
}


 .categorySwiper .swiper-slide {
    width: 33.333% !important;
  }

  @media (max-width: 1024px) {
    .categorySwiper .swiper-slide {
      width: 50% !important;
    }
  }

  @media (max-width: 640px) {
    .categorySwiper .swiper-slide {
      width: 100% !important;
    }
  }


